{% extends "base.html" %}

{% block contenido %}

<form action="/submit" class="container mt-5 bg-light p-5">
  <div class="form-group">
    <label for="rut">RUT</label>
    <input type="text" class="form-control" id="rut" name="rut">
  </div>
  <div class="form-group">
    <label for="nombre">NOMBRE</label>
    <input type="text" class="form-control" id="nombre" name="nombre">
  </div>
  <div class="form-group">
    <label for="patente">PATENTE</label>
    <input type="text" class="form-control" id="patente" name="patente">
  </div>
  <div class="form-group">
    <label for="fecha.n">FECHA.N</label>
    <input type="text" class="form-control" id="fecha.n" name="fecha.n">
  </div>
  <div class="form-group">
    <label for="cargo">CARGO</label>
    <select class="form-control" id="cargo" name="cargo">
    </select>
  </div>
  <div class="form-group">
    <label for="ciudad.r">CIUDAD.R</label>
    <input type="text" class="form-control" id="ciudad.r" name="ciudad.r">
  </div>
  <button type="submit" class="btn btn-success">REGISTRAR USUARIO</button>
</form>

{% endblock %}
