{% extends "base.html" %}

{% block contenido %}

<div class="alert alert-secondary text-center mt-3">
  <h3>Cargas de Bomba</h3>
</div>
<div class="text-end mt-3 mb-3">
  <a href="{% url 'cargabomba' %}" class="btn btn-primary">Añadir carga a Bomba</a>
</div>
{% if cargasBomba %}
<div class="table-responsive">
  <table class="table table-bordered">
      <thead class="table-primary">
          <tr>
              <th>Bomba</th>
              <th>Bombero</th>
              <th>Litros Cargados</th>
              <th>Fecha de carga</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          {% for c in cargasBomba %}
          <tr>
              <td>{{ c.bomba.nombre }}</td>
              <td>{{ c.bombero.nombre }}</td>
              <td>{{ c.litrosCargados }}</td>
              <td>{{ c.fechaCarga }}</td>
              <td>
                  <a href="{% url 'editarCargaBomba' c.id %}" class="btn btn-warning">Editar</a>
                  <a href="#" class="btn btn-danger" onclick="eliminar('{{c.id}}')">Eliminar</a>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
<p class="alert alert-warning">No hay datos en la tabla</p>
{% endif %}
<script>
  function eliminar(id) {
      Swal.fire({
          title: '¿Estás seguro que deseas eliminar esta carga de camioneta?',
          text: '',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: 'Eliminar'
      }).then((result) => {
          if (result.isConfirmed) {
              window.location.href = '/eliminarCargaBomba/' + id
          }
      })
  }
</script>

{% endblock %}
